{% trans_default_domain 'FOSUserBundle' %}
<h1>Edit User Profile</h1>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.familyName) }}
    {{ form_row(form.phoneBusiness) }}
    {{ form_row(form.phonePrivate) }}
    {{ form_row(form.address) }}
    {{ form_row(form.note) }}
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
</div>
{{ form_end(form) }}
