{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1>Product edit</h1>
        </div>
        <div class="col-md-1">
            <div class="col-md-offset-6 col-md-1">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">Delete</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Segment</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.segment, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Production Price EUR</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.productionPrice, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Retail Price EUR</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.sellPrice, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Sold To</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.soldTo, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Count</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.count, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Note</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.note, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-1">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

        <div class="col-md-1">
            <a class="btn btn-default" href="{{ path('product_index') }}" role="button">Back to the list</a>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}