{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Segment</th>
            <th>Name</th>
            <th>Production Price</th>
            <th>Sell Price</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.segment }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.productionPrice }}</td>
                <td>{{ product.sellPrice }}</td>
                <td>{% if product.dateCreated %}{{ product.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.dateUpdated %}{{ product.dateUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('product_show', { 'id': product.id }) }}" type="button" class="btn btn-info"
                       aria-label="Center Align">Show</a>
                    <a href="{{ path('product_edit', { 'id': product.id }) }}" type="button" class="btn btn-info"
                       aria-label="Center Align">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('product_new') }}">Add</a>
{% endblock %}
