{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-10">
        <h1>Add Product</h1>
    </div>
</div>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-5">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Segment</label>
        <div class="col-md-5">
            {{ form_widget(form.segment, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Production Price EUR</label>
        <div class="col-md-5">
            {{ form_widget(form.productionPrice, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Retail Price EUR</label>
        <div class="col-md-5">
            {{ form_widget(form.sellPrice, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Sold To</label>
        <div class="col-md-5">
            {{ form_widget(form.soldTo, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Count</label>
        <div class="col-md-5">
            {{ form_widget(form.count, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Note</label>
        <div class="col-md-5">
            {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-1">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="col-md-1">
            <a class="btn btn-default" href="{{ path('product_index') }}" role="button">Back to the list</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
