{% extends 'base.html.twig' %}

{% block body %}
    <legend>Companies list</legend>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Company</th>
            <th>Segment</th>
            <th>Country</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
               {# <td><a href=" {{ path('company_show', { 'id': company.id }) }} "> {{ company.id }}</a></td> #}
                <td>{{ company.companyName }}</td>
                <td>{{ company.segment }}</td>
                <td>{{ company.country }}</td>
                <td>
                    <a href="{{ path('company_show', { 'id': company.id }) }}" type="button" class="btn btn-info" aria-label="Center Align">
                        Show
                    </a>
                    <a href="{{ path('company_edit', { 'id': company.id }) }}" type="button" class="btn btn-info" aria-label="Center Align">
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('company_new') }}">Add</a>

{% endblock %}
