{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1>Customer edit</h1>
        </div>
        {%  if is_granted('ROLE_ADMIN') %}
        <div class="col-md-1">
            <div class="col-md-offset-6 col-md-1">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">Delete</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        {% endif %}
    </div>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Surname</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.surname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Email</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Phone (business) </label>
        <div class="col-md-5">
            {{ form_widget(edit_form.phoneBusiness, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Phone (private) </label>
        <div class="col-md-5">
            {{ form_widget(edit_form.phonePrivate, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Company</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.company, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Department</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.department, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Address</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Interested in</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.interestedIn, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Note</label>
        <div class="col-md-5">
            {{ form_widget(edit_form.note, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-1">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

        <div class="col-md-1">
            <a class="btn btn-default" href="{{ path('customer_index') }}" role="button">Back to the list</a>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
